{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% comment %} includes import {% endcomment %}
        {% include 'shop/_partials/_head_imports.html' %}
        <title>
            {% block title %}
                Home
            {% endblock title %}
        </title>
        {% comment %} custom stiles {% endcomment %}
        <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
        <link rel="stylesheet"
              href="{% static 'fonts/montserrat:wght@300;400.css' %}" />
        {% comment %} favicon {% endcomment %}
        <link rel="shortcut icon"
              type=" image/png "
              href="{% static 'shop/images/favicon.ico' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% comment %} Navbar {% endcomment %}
        {% include 'shop/_partials/_navbar.html' %}
        {% comment %} Messages {% endcomment %}
        {% include 'shop/_partials/_messages.html' %}
        <main>
            {% comment %} Content {% endcomment %}
            {% block content %}{% endblock %}
        </main>
        {% comment %} Footer {% endcomment %}
        {% include 'shop/_partials/_footer.html' %}
        <script src="{% static 'shop/js/base.js' %}"></script>
    </body>
</html>
